html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #009ba7;
  text-align: center;
}

#login-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

#username,
#password,
#login-btn {
  margin-bottom: 15px;
}

#todo-container {
  max-width: 500px;
  margin: auto;
  background-color: rgb(0, 0, 0,0.5);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  color:aliceblue;
  font-size: 50px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  color:white;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

input {
  background-color: #009ba7;
  color:white;
  border:none;
  border-radius: 5px;
  padding:4px;
}

input::placeholder {
  color:white;
}

form {
  display:flex;
  align-items: center;
  flex-direction: column;
  max-width: 200px;
  width: 100%;
}

#username, #password {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#login-btn, #logout-btn, #reg-btn{
  border: none;
  border-radius: 10px;
  padding: 7px;
  color:white;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

#login-btn {
  background-color: rgb(3, 243, 3);
}

#logout-btn{
  margin-top: 10px;
  background-color: rgb(255, 9, 9);
}

#reg-btn {
  background-color: burlywood;
}

#sort-btn{
  margin-left: 5px;
}

#flt-btn, #rst-btn {
  margin-right: 5px;
}

#flt-btn, #add-btn,#sort-btn {
  background-color: rgb(3, 243, 3);
}

#del-btn, #rst-btn {
  background-color: red;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 4px;
  color:white;
}

.button:hover, #dark-mode:hover, #login-btn:hover, #logout-btn:hover, #reg-btn:hover {
  font-weight: bold;
}

.done {
  text-decoration: line-through;
  color: black;
}

#dark-mode{
  border: none;
  border-radius: 10px;
  padding:6px;
  margin-top: 10px;
  color:#009ba7;
  background-color:white;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
}